* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 1200px;
  margin: 20px auto;
}

li {
  width: 90px;
  display: inline-block;
  margin: 10px;
}